@using SocialNetwork.Helper
@using System.Text.Json;

@inject IUserContext UserContext
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="/images/Logo/logo_favicon.svg" />

    @*JQuery*@
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ui/dist/jquery-ui.min.js" asp-append-version="true"></script>
    <link href="~/lib/jquery-ui/dist/themes/base/jquery-ui.min.css" rel="stylesheet" asp-append-version="true" />

    @*SweetAlert*@
    <script src="~/lib/sweetalert2/dist/sweetalert2.min.js" asp-append-version="true"></script>
    <link href="~/lib/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" asp-append-version="true" />

    @*Lightslider*@
    <script src="~/lib/lightslider/dist/js/lightslider.min.js" asp-append-version="true"></script>
    <link href="~/lib/lightslider/dist/css/lightslider.min.css" rel="stylesheet" asp-append-version="true" />

    @*signalr*@
    <script src="~/lib/@@microsoft/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/lib/@@microsoft/signalr-protocol-msgpack/dist/browser/signalr-protocol-msgpack.js" asp-append-version="true"></script>

    <script type="module" src="~/js/Home/Layout.js" asp-append-version="true"></script>
    <link href="~/css/Common/Common.css" rel="stylesheet" asp-append-version="true" />

    <script>
        $(function () {
            LayoutPage.UserInit(@Html.Raw(JsonSerializer.Serialize(UserContext.User)));
            LayoutPage.Init();
        });
    </script>
</head>
<body style="height: 100% !important; background-color: #E8E8E8 !important;">
    @inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
    <input id="RequestVerificationToken" type="hidden" value="@Antiforgery.GetAndStoreTokens(Context).RequestToken" />

    <div class="div_menu">
        <div style="display:flex; justify-content:center;margin: 5% 0 5% 0;">
            <img src="~/images/Logo/logo.svg" style="width: 50%;" />
        </div>
        @*<a class="logo_index">I K K O N</a>*@
        <div class="meunContent">
            <img class="index_profilePhoto" src="@UserContext.User.ProfilePhotoUrl">

            <div class="index_nickName">@UserContext.User.NickName</div>
            <ul class="index_status list-unstyled">
                <div class="index_status_select"></div>
                <li id="memberStatus_@((int)MemberStatusEnum.在線)">
                    <span class="index_online"></span>
                    @MemberStatusEnum.在線.ToString()
                </li>
                <li id="memberStatus_@((int)MemberStatusEnum.離線)">
                    <span class="index_offline"></span>
                    @MemberStatusEnum.離線.ToString()
                </li>
                <li id="memberStatus_@((int)MemberStatusEnum.忙碌)">
                    <span class="index_buzy"></span>
                    @MemberStatusEnum.忙碌.ToString()
                </li>
            </ul>

            <div class="index_menu">
                <div class="index_menuLink" style="width: 55px !important;">
                    <div class="index_menuTextBackground" Action="Index">
                        <a class="index_menuText" asp-controller="Home" asp-action="Index">首頁</a>
                    </div>
                </div>
                <div class="index_menuLink">
                    <div class="index_menuTextBackground" Action="HomePage">
                        <a class="index_menuText" asp-controller="Home" asp-action="HomePage">個人主頁</a>
                    </div>
                </div>
                <div class="index_menuLink">
                    <div class="index_menuTextBackground" Action="MemberSetting">
                        <a class="index_menuText" asp-controller="Home" asp-action="MemberSetting">帳號設定</a>
                    </div>
                </div>
                <div class="index_menuLink">
                    <div class="index_menuTextBackground" Action="FriendManagement">
                        <a class="index_menuText" asp-controller="Home" asp-action="FriendManagement">好友管理</a>
                    </div>
                </div>

                <div class="index_menuLink" style="margin-top: 50%;">
                    <div class="index_menuTextBackground" onclick="LayoutPage.Logout()">
                        <span class="index_menuText">登出</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    <div class="div_right">
        <div class="div_banner">
            <img class="banner_img" src="~/images/banner_usmaru.png">
        </div>
        <div class="div_friend">
            <div class="friend_container">
                <div class="friend_search_container">
                    <input type="text" class="friend_search svg" placeholder="搜尋好友" maxlength="30" />
                    <img class="SearchIcon" src="/images/search.svg">
                </div>
                <div class="friend_content"></div>
            </div>
        </div>
    </div>
</body>
</html>